extends layout
block content
   .col-md-offset-3.col-md-6
        form(method="POST")
            .form-group
                label(for="fecha") Fecha
                input.form-control(type="text", placeholder="15/10/2016", name="fecha", id="fecha", required)
            .form-group
                label(for="hora") Hora
                input.form-control(type="text", placeholder="18:00", name="hora", id="hora",pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]", required)

            .radio
                label
                    input(type="radio" name="tipo" value="Digital", selected) 
                    span Digital            
            .radio
                label
                    input(type="radio" name="tipo" value="Presencial") 
                    span Presencial
            
            
            .form-group
                label(for="participantes")
                input.form-control(type="text", placeholder="participantes", name="participantes", id="participantes")
            .form-group
                textarea.form-control(name="hacer",rows="5")
            
                button(type="submit" class="btn btn-primary") Submit
                